@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

*{
  margin:0;
  padding:0;
}
body{
  width:100%;
  background: url(images/bg1.jpeg) no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
}
#mainDiv{
  height:870px;
  /* width: 100%; */
  overflow: auto;
  margin-bottom:10%;
}
#navbar1{
  display: none;
}
.pic{
  margin-top:13px;
  margin-bottom:10px;
  width: 150px;
  height:150px;
  border: 1px solid white;
  border-radius: 15%;
  
}
#profilePicture{
  padding-top:10px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom: 40px;
  position: absolute;
  left:5%;
  margin-top:3.5%;
  background-color: white;
  width:220px;
  height:220px;
  text-align: center;
}
#clickDiv{
  display: grid;
  grid-template-columns: 90px 300px 150px;
  grid-template-rows:115px;
  grid-gap:5px;
}
.navDiv{
  position:fixed;
  display: grid;
  grid-template-columns: 100px 100px 135px 100px 120px ;
  grid-template-rows:50px;
  grid-gap:5px;
  color:white;

}
.navDivitem{
  padding-top:0px;
  padding-bottom: 30px;
  padding-left:5px;
  padding-right:5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:55%;
  color:white;
  font-family: Trebuchet MS;
  font-weight: bolder;
}
#comeonindiv{
  padding-top:30px;
  padding-bottom: 30px;
  padding-left:5px;
  padding-right:5px;
  
  border : 1px outset white;
  border-radius: 25px;
  box-shadow: 5px 10px white;
}

#comeonindiv:hover{
  background-color: rgb(83, 8, 83);;
}
#clickMe{
  color:white;
  font-family: Trebuchet MS;
  font-weight: bolder;
  font-size: 120%;
  
}
#leftDiv{
  position: absolute;
  width:47%;
  height:95%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows:135px 135px 135px 135px 135px;
  grid-gap: 20px;
  padding: 10px;
}
#leftDiv > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
#rightDiv{
  display: grid;
  grid-template-columns: 155px 155px 155px 155px;
  grid-template-rows:175px 175px 175px 175px;
  grid-gap: 20px;
  padding: 10px;
  position: absolute;
  width:50%;
  height:95%;
  left:48%;
  text-align: right;
  z-index: -1;
}
#rightDiv > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

/* .paintingpictures{
  text-align: center;
  width: 155px;
  height:155px;
  background-color: white;
  z-index:-1;
  border: 1px solid white;
  border-radius: 15%;

} */

#name{
  font-family: 'Bradley Hand';
  font-weight: bold;
  color:black;
  font-variant: small-caps;
  margin-top:0px;
  margin-bottom:0px;
  text-align: center;
  font-size:20px;
}
#introheading
{
  color:white;
  font-size:350%;
  font-family:'Monoton', cursive;
}
#introname{
  color:white;
  font-family:'Aclonica', sans-serif;
  font-variant: small-caps;
}

#secondDiv{ 
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:150px 600px;
    margin-bottom:10%;
}
#aboutdiv{
  color:white;
  text-align: center;
  padding:50px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
#aboutdivcontent{
  height:100%;
  width:70%;
  margin:auto;
  position: relative;
  top: 175%;
  /* background-color: white; */
}
#footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;  
  color:white;
  margin-bottom:20px;
 text-align: center;
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#arrowlink{
  text-decoration: none;
  color:white;
}
#mypic{
  height:50%;
  width:20%;
  float:left;
  margin-right:3%;
  
}
#bloglink{
  color:white;
  text-decoration: none;
}
a{
  text-decoration: none;
}
#aboutname{
  font-variant: small-caps;
  color:white;
  font-size:130%;
}
.navDivitem:hover{
  color:rgb(209, 14, 209);
}
#profileDiv{
  display: grid;
  grid-template-rows:230px;
  text-align: center;
}
#paraDiv{
  display: grid;
  /* grid-template-columns: 430px 650px 200px; */
    grid-template-rows:390px;
    text-align: justify;
   
}
#content{
  text-align: center;
  padding:3%;
} #heading2{
  margin-bottom:3%;;
  text-align:center;
  font-family: Trebuchet MS;
  font-style: italic;
  
}
#paracontent{
 text-align: justify;
 font-family: 'Caveat';
 color:black;
 font-size:larger;
} 
#pictureContainer{
  width:180px;
  height: 170px;
  background:white;
  margin:auto;
  padding:10px 10px 40px 10px;
}
#pp{
  width:180px;
  height:170px;
  margin-bottom:8px;
}
#namepara{
  margin:0px;
  font-size: larger;
  font-variant: small-caps;
  font-family: Bradley Hand;
  color:black;
}
#contactdiv{
  margin-top:20px;
  display: grid;
  grid-template-columns: 33.5% 33.5% 33.5%;
  text-align: center;
  grid-template-rows:80px;
}
.logodiv{
  text-align: center;
}
.logoimg{
  margin-top:35px;
  margin-right:15px;
}
.l1{
  width:40px;
  height:40px;
}
.l2{
  width:40px;
  height:40px;
}
.l3{
  width:40px;
  height:40px; 
}

#portfoliodiv{
  height: 600px;
  /* background-color: black; */
  display: grid;
  grid-template-rows:5% 5% 40% 40%;
  grid-row-gap:10%;
  margin-bottom: 15%;
}
#portfolioheading{
text-align:center;
color:white;
font-family: Trebuchet MS;
}
#firstrowofproject{
  display: grid;
  grid-template-columns: 20% 64% 20%;
  /* grid-template-rows: auto; */
  height: 270px;
  margin-top:7%;
  margin-bottom: 7%;
}
#shiftschedulercontent{
  display: none;
  width:19%;
  height:33%;
  background-color: white;
  color:black;
  overflow-y: auto; 
}
#traveltalkcontent{
  display: none;
  width:19%;
  height:33%;
  background-color: white;
  color:black;
  overflow-y: auto; 
}
#hangmancontent{
  display: none;
  width:19%;
  height:33%;
  background-color: white;
  color:black;
  overflow-y: auto; 
}
#shiftscheduler:hover + div{
  display: block;
  position: absolute;
  z-index: 1;
}
#traveltalk:hover + div{
  display: block;
  position: absolute;
  left:41%;
  z-index: 1;
}
#hangman:hover + div {
  display: block;
  position: absolute;
  left:62%;
  z-index: 1;
}
#p1,#p2,#p3{
  padding:10%;
  text-align: justify;
  font-family: Trebuchet MS;
  color:gray;
}
.buttons{
width:40%;
height:12%;
margin:auto;
text-align: center;
padding-top:4%;
background-color:rgb(202, 28, 80);
color:white;
font-family: Trebuchet MS;
}
.githublinks{
  color:white;
}
#secondrowofproject{
  display: grid;
  grid-template-columns: 20% 64% 20%;
  /* grid-template-rows: auto; */
  height: 270px;
}
#col_row{
  display: grid;
  grid-template-columns: 33.25% 33.25% 33.25%;
  height:270px ;
}
#col_row1{
  display: grid;
  grid-template-columns: 33.25% 33.25% 33.25%;
}
.projectimagecontainer{
  width:250px;
  height:220px;
  background-color: white;
  padding:10px 10px 40px 10px;
}
.projectimage{
  width:250px;
  height: 220px;
}
.projectname{
  text-align: center;
  margin:4px 0px 0px 0px;
  font-size: larger;
  font-variant: small-caps;
  font-family: Bradley Hand;
  color:black;
  
}
#contactPage{
  /* background-color: black; */
  display: grid;
  grid-template-rows:135px 450px 145px;
  grid-template-columns:auto;
}
#contactinfo{
 text-align: center;
}
#contactdetails{
  width:700px;
  height: 450px;
  background-color: white;
  margin:auto;
  display: grid;
  grid-template-columns:70% 30%;
}
#aboutheading{
  text-align:center;
color:white;
font-family: Trebuchet MS;
}
#contactdiv1{
  padding-top:25%;
}
#contactdiv2{
  background-color: rgb(83, 8, 83);
}
.contactparagraph{
  font-variant: small-caps;
  font-size:x-large;
}
#verticalnavbardiv{
  display:none;
}
.cl1{
  margin-right:10px;
}
.verticalnavbar{
  position:fixed;
  left:0%;
  top:15%;
 display: grid;
 grid-template-columns: 100%;
 grid-template-rows:20% 20% 20% 20% 20%;
 grid-gap:5%;
 color:white;
 background-color: black;

} 
  /* Responsive design with media query starts here*/
  @media only screen and (max-width: 1000px) {
    body{
      overflow-x:hidden;
      padding:0;
      margin:0;
    }
   #navbar{    
            display: none;
   }
  #verticalnavbardiv{
    display: block;
    width: 100%;
    height:100%;
    font-size: small;
    color:white;
    padding-top:5%;
  }
   #navbutton{
     display: block;
     width: 100%;
     height:20%;
     font-size: small;
     background-color: rgb(83, 8, 83);
     color:white;
     font-family: Trebuchet MS;
     padding-top:3%;
   }
  #rightDiv{
    display: grid;
    grid-template-columns: 155px;
    grid-template-rows:175px 175px 175px;
    grid-gap: 20px;
    padding: 10px;
    position: absolute;
    width:30%;
    height:95%;
    left:55%;
    text-align: right;
    z-index: -1;
    padding-left:10%;
    padding-top:0%;
  }
  #rightDiv .hideimage{
    display:none;
  }
  .leftdivrow{
    display: none;
  }
  #mainDiv{
    height:600px;
  }
  #paracontent{
    text-align: justify;
  }
   #clickDiv{
     display: block;
     width:80%;
     font-size:60%;
   }
   #secondDiv{
     display: block;
     height:500px;
   }
  #aboutdivcontent{
    height: 300px;
    overflow: hidden;
    overflow:scroll;
  }
   #portfoliodiv{
     display: block;
     height:1100px;
     margin-bottom: 20%;
   }
   #firstrowofproject{
    display: grid;
    grid-template-rows: 30% 30% 30%;
    /* grid-template-rows: auto; */
    height: 270px;
  }
  #col_row{
    display: grid;
    grid-template-rows: 270px 270px 270px;
    grid-template-columns: 270px;
    height:900px ;
    padding:10%;
    grid-row-gap:7%;
    text-align: center;
  }
  #shiftschedulercontent{
    display: none;
    width:270px;
    height:270px;
    background-color: white;
    color:black;
    overflow-y: auto; 
  }
  #traveltalkcontent{
    display: none;
    width:270px;
    height:270px;
    background-color: white;
    color:black;
    overflow-y: auto; 
  }
  #hangmancontent{
    display: none;
    width:270px;
    height:270px;
    background-color: white;
    color:black;
    overflow-y: auto; 
  }
  #shiftscheduler:hover + div{
    display: block;
    position: absolute;
    z-index: 1;
  }
  #traveltalk:hover + div{
    display: block;
    position: relative;
    z-index: 1; 
    top:-124%;
    left:0%;
  }
  #hangman:hover + div {
    display: block;
    position: relative;
    z-index: 1;
    top:-124%;
    left:0%;
  }
  #secondrowofproject{
    display: none;;
  }
   #contactPage{
     display: block;
   }
   #contactinfo{
     margin-top:10%;
   }
   #contactdetails{
     width:70%;
     height:50%;
   }
  }
  @media only screen and (min-width: 1000px) {
    #navbutton{
      display: none;
    }
   #verticalnavbardiv{
     display: none;
   }
   #navbar{
     display: block;
     position:fixed;
  display: grid;
  grid-template-columns: 100px 100px 135px 100px 120px;
  grid-template-rows:50px;
  grid-gap:5px;
  color:white;
   }
  }